name: quality

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Setup dotnet
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: "10.0.x"

      - name: Build
        run: dotnet build

      - name: Test
        run: dotnet test
